<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">

        <div style="text-align: center;">
          <h1>Lista de delitos</h1>
        </div>
        <div style="text-align: right;">
          <button mat-raised-button color="warn" routerLink="/delitos/nuevo">Nuevo</button>
        </div>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        
          
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>idDelito</th>
            <td mat-cell *matCellDef="let element">{{ element.id }}</td>
          </ng-container>
    
          <ng-container matColumnDef="Hora">
            <th mat-header-cell *matHeaderCellDef>Hora</th>
            <td mat-cell *matCellDef="let element">{{ element.Hora }}</td>
          </ng-container>
    
          
          <ng-container matColumnDef="Fecha">
            <th mat-header-cell *matHeaderCellDef>Fecha</th>
            <td mat-cell *matCellDef="let element">{{ element.Fecha|date:'dd/MM/yyyy'}}</td>
          </ng-container>
          
          <ng-container matColumnDef="Distrito">
            <th mat-header-cell *matHeaderCellDef>Distrito</th>
            <td mat-cell *matCellDef="let element">{{ element.Distrito }}</td>
          </ng-container>

          <ng-container matColumnDef="Distrito_idZona">
            <th mat-header-cell *matHeaderCellDef>Distrito_idZona</th>
            <td mat-cell *matCellDef="let element">{{ element.Distrito_idZona }}</td>
          </ng-container>

          <ng-container matColumnDef="IdTipoDelitos">
            <th mat-header-cell *matHeaderCellDef>IdTipoDelitos</th>
            <td mat-cell *matCellDef="let element">{{ element.IdTipoDelitos }}</td>
          </ng-container>

          <ng-container matColumnDef="accion1">
            <th mat-header-cell *matHeaderCellDef>Acción01</th>
            <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary"
              [routerLink]="['edit', element.id]">Actualizar</button>
            <button mat-raised-button color="accent" (click)="confirmar(element.id)">Eliminar</button>
          </td>
          </ng-container>
    
          <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayColumns"></tr>
        </table>
      </div>
</body>
</html>
